{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} - Rôles {% endblock %}


{% block body %}
    
    <br><br>

    <!-- Title -->
    <h1 class="container bold"> Rôles </h1>


    <br><br>


    <!-- Buttons -->
    <div class="container row center">
    
    
        <div class="col s6">
            <a class="waves-effect btn-large zoom"  style="background-color: rgb(123, 27, 36)" href="{{ path('role_sort') }}?sortBy=0">
                <i class="material-icons left">select_all</i>
                Voir tout
            </a>
        </div>

        <div class="col s6">
            <a class="waves-effect btn-large zoom" style="background-color: rgb(123, 27, 36)" href="{{ path('role_sort') }}?sortBy=1">
                <i class="material-icons left">flag</i>
                Faction
            </a>
        </div>

    </div>


    <!-- Show all Roles -->
    <div class="container">
        {% for array in data %}

            <br><br>

            <!-- title of the current set -->
            <h3 style="color: {{ array.titleColor }}"> - {{ array.title }} - </h3>

            <!-- all the Roles within the set -->
            <div class="row">
                {% for role in array.roles %}

                    <div class="col s12 m6 l3 smallZoom">
                        <!-- Card -->
                        <div class="card" style="background-color: inherit">

                            <!-- Image -->
                            <div class="card-image">
                                <img class="activator pointer" src="{{ role.imagePath }}" width="250" height="250">
                            </div>

                            <!-- Name -->
                            <div class="card-content">
                                <h6 class="truncate activator pointer center" style="font-weight: 600; color: {{ role.getFactionColor }}">
                                    {{ role.name }}
                                </h6>
                            </div>

                            <!-- Hidden content (click to reveal) -->
                            <div class="card-reveal">
                                <span class="card-title" style="color: {{ role.getFactionColor }}">
                                    {{ role.name }}
                                    <i class="material-icons right">close</i>
                                </span>
                                <p>{{ role.description | raw }}</p>
                            </div>

                        </div>
                    </div>

                {% else %}
                
                    <!-- else : there was 0 Role, so we display an error message instead -->
                    {% include 'components/errorNoRole.html.twig' %}

                {% endfor %}
            </div>


            {% else %}
            
                <!-- else : there was 0 category found -->
                {% include 'components/errorNoRole.html.twig' %}

        {% endfor %}
    </div>

{% endblock %}



{% block javascripts %}
{% endblock %}