{% extends 'base.html.twig' %}

{% set userID = app.session.get('userID') %}

{% block body %}

    <br><br>

    <!-- Title -->
    <h1 class="container bold"> Parties </h1>


    <br><br>


    <!-- Party : New -->
    <div class="container">
        <h4 class="center white-text">Créer une partie...</h4>

        <br>

        <div method="post" class="card" style="z-index:1;background-color: rgba(255, 255, 255, 0.75);">
            <form method="post" class="container">

                <!-- Hidden CSRF token -->
                <input hidden type="text" name="token" value="{{ csrf_token('party_create') }}">

                <br>

                <!-- Name -->
                <div class="input-field">
                    <i class="material-icons prefix">games</i>
                    <input id="name" name="name" type="text" class="validate" data-length="25" required>
                    <label for="name">Nom de la Partie</label>
                </div>

                <br><br>

                <!-- Submit -->
                <div style="text-align: center;">
                    {% if userID is defined and userID != 0 %}
                        {# user logged-in : he can access the Parties #}
                        <button class="btn-large smallZoom" type="submit">
                            Créer Partie !
                            <i class="material-icons left">fiber_new</i>
                        </button>
                    {% else %}
                        {# user NOT logged-in : he CANNOT access the Parties #}
                        <a class="btn-large smallZoom modal-trigger" href="#modal" style="background-color: rgb(123, 27, 36)">
                            <i class="material-icons left">fiber_new</i>
                            Créer Partie !
                        </a>
                    {% endif %}
                </div>

                <br>

                {% if errorMessage is defined and errorMessage|length != 0 %}
                    <br>
                    <h4 class="lg-red center"> {{ errorMessage }} </h4>
                    <br>
                {% endif %}
            </form>
        </div>
    </div>


    <br><br>


    <!-- Separator -->
    <hr class="container" style="height:2px;border-width:0;color:#7b1b24;background-color:#7b1b24">


    <br><br>


    <!-- Party : Existing ones -->
    <div class="container">
        <h4 class="center white-text">...ou rejoignez-en une !</h4>

        <br>

        {% if parties|length > 0 %}
            <table class="highlight centered responsive-table white-text">

                <thead>
                    <tr>
                        <th>Nom de la Partie</th>
                        <th>Maître du Jeu</th>
                        <th>Nombre de Joueurs</th>
                        <th>Rejoindre</th>
                    </tr>
                </thead>

                <tbody>
                    {% for party in parties %}
                        <tr class="pointer" id="{{ party.id }}">
                            <td>{{ party.name }}</td>
                            <td>{{ party.admin.username }}</td>
                            <td>{{ party.players|length }} / {{ party.players|length }}</td>
                            <td>
                                <a
                                    style="background-color: rgb(123, 27, 36)"

                                    {% if userID is defined and userID != 0 %}

                                        {# user logged-in : he can access the Parties #}
                                        class="waves-effect btn"
                                        href="{{ path('party_show', {'id' : party.id }) }}"

                                    {% else %}

                                        {# user NOT logged-in : he CANNOT access the Parties #}
                                        class="waves-effect btn modal-trigger"
                                        href="#modal"

                                    {% endif %}
                                    >
                                    <i class="material-icons right">arrow_forward</i>
                                    Jouer !
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            <!-- else : there was 0 party found -->
            {% include 'components/errorNoParty.html.twig' %}
        {% endif %}
    </div>

    <br><br>

    <!-- Modal Structure : is activated when a non-logged in user wants to access / create a game -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <h4>Vous n'êtes pas connecté !</h4>
            <p>Vous devez vous connecter / créer un compte afin de pouvoir créer une partie !</p>
        </div>
        <div class="modal-footer">
            <a href="{{ path("account_connection") }}" class="modal-close waves-effect waves-green btn-flat">Se Connecter</a>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#modal').modal({dismissible: false});
            //$('#modal').modal('open'); 

            $('input#name').characterCounter();
        });


        function goTo(id)
        {
            const route = "{{ path('party_show', { 'id' : 1 }) }}";
            document.location.href = route;
        }
    </script>
{% endblock %}