{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ party.name }} {% endblock %}

{% set userID = app.session.get('userID') %}
{% set roleArray = [] %}
{% for role in roles %}
    {% set roleArray = roleArray|merge([{
            id : role.id,
            name : role.name,
            idFaction : role.idFaction,
            }]) %}
{% endfor %}

{% block body %}
        {% if userID is defined and userID != 0 %}
                <br><br>

                <!-- Title -->
                <h1 class="container truncate bold"> {{ party.name }} </h1>

                <br><br>

                <!-- player's data -->
                <div class="center-align container">
                        <!-- Global counters -->
                        <div class="row">
                                <h5 class="col s6 white-text">
                                        <span>Joueurs Connectés :</span>
                                        <span id="cpt-players">{{ party.getSetUpAccounts|length }}</span>
                                </h5>
                                <h5 class="col s6 white-text">
                                        <span>Rôles Sélectionnés :</span>
                                        <span id="cpt-roles">{{ party.getSetUpRoles|length }}</span>
                                </h5>
                        </div>

                        <!-- Faction counters -->
                        <div class="row center-align">
                                <div class="col s4" style="color:#1e88e5">
                                        <h4 class="truncate">Villageois</h4>
                                        <h4 id="cpt-faction-1">{{ party.getSetUpRolesByFaction(1)|length }}</h4>
                                </div>
                                <div class="col s4" style="color:#7b1b24">
                                        <h4 class="truncate">Loups-Garou</h4>
                                        <h4 id="cpt-faction-2">{{ party.getSetUpRolesByFaction(2)|length }}</h4>
                                </div>
                                <div class="col s4" style="color:#1de9b6">
                                        <h4 class="truncate">Indépendants</h4>
                                        <h4 id="cpt-faction-3">{{ party.getSetUpRolesByFaction(3)|length }}</h4>
                                </div>
                        </div>
                </div>
                
                <!-- Form -->
                <form class="container" method="post">
                        <!-- Roles -->
                        <div class="row">
                                {% for role in roles %}
                                        <div class="col s4 m3 l2">
                                                <!-- Picture -->
                                                <a class="modal-trigger center" href="#modal_{{ role.name }}">
                                                        <img class="circle responsive-img smallZoom" src="../{{ role.imagePath }}" alt="{{ role.name }}"  style="border-style: solid;border-color:{{ role.getFactionColor }}">
                                                </a>
                                                

                                                <!-- Input -->
                                                <div class="row valign-wrapper">
                                                        <!-- white space -->
                                                        <div class="col s1"></div>

                                                        <!-- Button : REMOVE -->
                                                        <div class="col s3">
                                                                <a id="remove_{{ role.id }}" class="btn-floating" style="background-color:{{ role.getFactionColor }}">
                                                                        <i class="material-icons left">remove</i>
                                                                </a>
                                                        </div>
                                                        
                                                        <!-- input field -->
                                                        <div class="input-field col s4">
                                                                <input
                                                                        id="input_{{ role.id }}"
                                                                        name="{{ role.id }}"
                                                                        type="number"
                                                                        value="{{ party.getCptRole(role) }}"
                                                                        min="0"
                                                                        {% if role.isUnique == 1 %}
                                                                                max="1"
                                                                        {% endif %}
                                                                        class="validate"
                                                                        style="background-color: rgba(255, 255, 255, 0.125); color: {{ role.getFactionColor }}; text-shadow: 1px 1px #000;text-align:center"
                                                                        readonly>
                                                        </div>
                                                        
                                                        <!-- Button : ADD -->
                                                        <div class="col s3">
                                                                <a id="add_{{ role.id }}" class="btn-floating" style="background-color:{{ role.getFactionColor }}">
                                                                        <i class="material-icons left">add</i>
                                                                </a>
                                                        </div>
                                                
                                                        <!-- white space -->
                                                        <div class="col s1"></div>
                                                </div>


                                                <!-- Modal : hidden content (display when the image is clicked) -->
                                                <div id="modal_{{ role.name }}" class="modal">
                                                        <div class="modal-content">
                                                                <h4  style="color: {{ role.getFactionColor }}">{{ role.name }}</h4>
                                                                <p class="flow-text">{{ role.description | raw }}</p>
                                                        </div>
                                                </div>
                                        </div>
                                {% endfor %}
                        </div>

                        <div class="container row center">
                                <!-- Button : Reset -->
                                <div class="col s6">
                                        <a id="reset" class="waves-effect btn-large smallZoom" style="background-color: rgb(123, 27, 36)">
                                                <i class="material-icons left">clear_all</i>
                                                Réinitialiser
                                        </a>
                                </div>

                                <!-- Save -->
                                <div class="col s6" style="text-align: center;">
                                        <button class="btn-large smallZoom" type="submit">
                                                <i class="material-icons left">save</i>
                                                Sauvegarder
                                        </button>
                                </div>
                        </div>

                        <br><br>

                        <!-- Button : Begin -->
                        <div class="container center">
                                <a id="launch" class="waves-effect btn-large smallZoom pulse" style="background-color: rgb(123, 27, 36)">
                                        <i class="material-icons left">send</i>
                                        Lancer la Partie !
                                </a>
                        </div>
                </form>

                <br><br>
        {% else %}
            <!-- Modal Structure : is activated when a non-logged in user wants to access / create a game -->
                <div id="modal" class="modal">
                        <div class="modal-content">
                                <h4>Vous n'êtes pas connecté !</h4>
                                <p>Vous devez vous connecter / créer un compte afin de pouvoir rejoindre une partie !</p>
                        </div>
                        <div class="modal-footer">
                                <a href="{{ path("account_connection") }}" class="modal-close waves-effect waves-green btn-flat">Se Connecter</a>
                        </div>
                </div>
        {% endif %}

{% endblock %}



{% block javascripts %}
        <script>
                // The player is not logged :
                // We display an error message, and we don't bother to render the rest of the page
                if({{ userID }} == 0)
                {
                        // Modal displaying the error
                        $(document).ready(function() {
                                $('.modal').modal();
                                $('#modal').modal('open'); 
                        }); 
                }
                // The player is logged :
                // We get the references, and set the corresponding methods
                else
                {
                        // Array containing all the Roles' data
                        var roles = {{ roleArray|json_encode|raw }};


                        $(document).ready(function() {

                                roles.forEach(role => {
                                        // We get the associated REMOVE button
                                        $("#remove_".concat(role.id)).click(function() {
                                                // We get the corresponding input field
                                                input = getInput(role);

                                                previousVal = input.value;

                                                // We decrement the input (which checks if it is possible or not)
                                                input.stepDown();

                                                // If the value changed, we update the counters
                                                if(previousVal != input.value) {
                                                        $("#cpt-roles").text(Number($("#cpt-roles").text()) - 1);
                                                        $("#cpt-faction-".concat(role.idFaction)).text(Number($("#cpt-faction-".concat(role.idFaction)).text()) - 1);
                                                
                                                        // If one was removed, it means we can ADD
                                                        $("#add_".concat(role.id)).show();

                                                        // We check if we still can REMOVE
                                                        if(input.value == 0)
                                                        {
                                                                $("#remove_".concat(role.id)).hide();
                                                        }
                                                }
                                        });

                                        // We get the associated ADD button
                                        $("#add_".concat(role.id)).click(function() {
                                                // We get the corresponding input field
                                                input = getInput(role);

                                                previousVal = input.value;

                                                // We increment the input (which checks if it is possible or not)
                                                input.stepUp();

                                                // If the value changed, we update the counters
                                                if(previousVal != input.value) {
                                                        $("#cpt-roles").text(Number($("#cpt-roles").text()) + 1);
                                                        $("#cpt-faction-".concat(role.idFaction)).text(Number($("#cpt-faction-".concat(role.idFaction)).text()) + 1);
                                                
                                                        // If one was added, it means we can REMOVE
                                                        $("#remove_".concat(role.id)).show();

                                                        // We check if we still can ADD
                                                        if(getInput(role).value == getInput(role).max)
                                                        {
                                                                $("#add_".concat(role.id)).hide();
                                                        }
                                                }
                                        });

                                        // We initialize the buttons accordingly
                                        // By default, they are shown, so we just check if they should be hidden
                                        if(getInput(role).value == 0)
                                        {
                                                $("#remove_".concat(role.id)).hide();
                                        }
                                        if(getInput(role).value == getInput(role).max)
                                        {
                                                $("#add_".concat(role.id)).hide();
                                        }
                                });
                                
                                // We initialize the reset button : sets the factions' counters to 0 when clicked
                                $('#reset').click(function() {
                                        // We reset the global role counter
                                        $("#cpt-roles").text(0);

                                        // We reset all the faction's counters
                                        for (i = 1; i <= 3; i++) {
                                                document.getElementById("cpt-faction-".concat(i.toString())).innerHTML = 0;
                                        }

                                        // We reset all the role's input counters and buttons
                                        roles.forEach(role => {
                                                input = getInput(role);
                                                input.value = 0;

                                                // We can't REMOVE
                                                $("#remove_".concat(role.id)).hide();

                                                // We can ADD
                                                $("#add_".concat(role.id)).show();
                                        });
                                });
                        });


                        /** Returns the input corresponding to a given role
                        **/
                        function getInput(role)
                        {
                                return document.getElementById( "input_".concat(role.id) );
                        }
                }


                function myFunction() {
                        var x = document.getElementById("myDIV");
                        if (x.style.display === "none") {
                                x.style.display = "block";
                        } else {
                                x.style.display = "none";
                        }
                }

                /*
                onbeforeunload = function() {
                        if(true) {
                                return 'Vous avez des données modifiées mais non sauvegardées : voulez-vous quitter cette page ?';
                        }
                };
                */
        </script>
{% endblock %}