{% set userID = app.session.get('userID') %}
{% set isAdmin = app.session.get('isAdmin') %}

<!-- NavBar  -->
<nav class="lg-red-background" role="navigation">
  <div class="nav-wrapper container">
    
    <!-- Logo -->
    <a id="logo-container" href="{{ path('homepage') }}" class="brand-logo">Loup-Garou</a>
    
    <!-- Navbar's item -->
    <ul class="right hide-on-med-and-down">
        <li>
            <a class="smallZoom" href="{{ path('party_lobby') }}">
                <i class="material-icons left">games</i>
                Jouer !
            </a>
        </li>
        <li>
            <a class="smallZoom" href="{{ path('role_sort') }}">
                <i class="material-icons left">search</i>
                Voir les Rôles
            </a>
        </li>
        <li>
            <a class="smallZoom" href="{{ path('party_stats') }}">
                <i class="material-icons left">archive</i>
                Analyse des Résultats
            </a>
        </li>
        <li>
            <a class="dropdown-trigger" data-target="navbar-dropdown">
                <i class="material-icons left">account_circle</i>
                <i class="material-icons right">arrow_drop_down</i>
                Mon Profil
            </a>
        </li>
    </ul>

    <!-- Navbar's toggle for the side navbar -->
    <a href="#" data-target="side-navbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Side navbar -->
<ul class="sidenav" id="side-navbar">
    <li>
        <a class="smallZoom lg-red-on-hover hover-bold" href="{{ path('party_lobby') }}">
            <i class="material-icons left">games</i>
            Jouer !
        </a>
    </li>
    <li>
        <a class="smallZoom lg-red-on-hover hover-bold" href="{{ path('role_sort') }}">
            <i class="material-icons left">search</i>
            Voir les Rôles
        </a>
    </li>
    <li>
        <a class="smallZoom lg-red-on-hover hover-bold" href="{{ path('party_stats') }}">
            <i class="material-icons left">archive</i>
            Analyse des Résultats
        </a>
    </li>
    <li>
        <a class="smallZoom lg-red-on-hover hover-bold dropdown-trigger" data-target="navbar-dropdown-sidebar">
            <i class="material-icons left">account_circle</i>
            <i class="material-icons right">arrow_drop_down</i>
            Mon Profil
        </a>
    </li>
</ul>
    
<!-- Dropdown Structure for the navbar -->
<ul id="navbar-dropdown" class="dropdown-content">
    {% if userID is defined and userID == 0 %}
        <li><a href="{{ path('account_connection') }}#login">Se Connecter</a></li>
        <li><a href="{{ path('account_connection') }}#signin">Créer Profil</a></li>
    {% else %}
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('account_logout') }}">Déconnexion</a></li>
    {% endif %}
</ul>
<!-- Dropdown Structure for the sidebar (for some reasons, I need to declare a 2nd dropdown (with a different ID)) -->
<ul id="navbar-dropdown-sidebar" class="dropdown-content">
    {% if userID is defined and userID == 0 %}
        <li><a href="{{ path('account_connection') }}#login">Se Connecter</a></li>
        <li><a href="{{ path('account_connection') }}#signin">Créer Profil</a></li>
    {% else %}
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('account_logout') }}">Déconnexion</a></li>
    {% endif %}
</ul>

<!-- Allows Jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
  // Or with jQuery
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $(".dropdown-trigger").dropdown({
        hover: false,
        coverTrigger: false
    });
  });
  </script>